/*
 * Begin Bootstrap Override CSS
 */

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

/*
 * Base structure
 */
html,
body {
  height: auto;
  background-color: #BBBDBF;
  padding-bottom: 70px;
}
body {
  color: #fff;
  text-align: center;
  /*text-shadow: 0 1px 1px rgba(0,0,0,.5);*/
  font-family: "Century Gothic",Arial,sans-serif;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: auto; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 0px 50px;
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

.masthead-nav .masthead-nav-img {
	height: 111px;
}

/*
 * button and D3 logo bar
 */
.control-logo {
  margin-top: 6px;
  margin-bottom: 10px;
}

.control-nav > li {
  display: inline-block;
}
.control-nav > li + li {
  margin-left: 2px;
}
.control-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 10px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.control-nav > li > a:hover,
.control-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: rgba(255,255,255,.25);
}
.control-nav > .active > a,
.control-nav > .active > a:hover,
.control-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.control-nav > li > button {
  padding-right: 0;
  padding-left: 0;
  font-size: 10px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
}

@media (min-width: 768px) {
  .control-logo {
    float: right;
	margin-right: 14%;
  }
  .control-nav {
    float: left;
	margin-left: 14%;
  }
}

.control-nav .control-nav-img {
	height: 36px;
}

/*
 * play, stop and slider bar
 */
.sliderContainer > li {
  display: inline-block;
  vertical-align: middle;
}
.sliderContainer > li + li {
  margin-left: 0px;
}
.sliderContainer > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #6D6E70; /* IE8 proofing */
}
.sliderContainer > li > a:hover,
.sliderContainer > li > a:focus {
  background-color: transparent;
}
.sliderContainer > .active > a,
.sliderContainer > .active > a:hover,
.sliderContainer > .active > a:focus {
  color: #fff;
}

@media (min-width: 768px) {
  .sliderContainer {
    float: left;
	margin-left: 14%;
	padding-left: 0;
	margin-bottom: 0;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 50px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

.navbar .nav li {
    display: inline-block;
    float: none;
}

.navbar .nav {
    float: none;
    text-align: center;
}

.navbar-default {
    background-color: #6D6E70;
    border: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #D0D2D3;
  background-color: transparent;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #D0D2D3;
  background-color: transparent;
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: relative;
    top: 0;
  }
  .mastfoot {
    position: relative;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}

.dropdown-menu {
	text-align: left;
}

/*
 * End Bootstrap Override CSS
 */


/*
 * Begin vis and svg styling 
 */

/*
 * Map styling
 */

path {
  stroke-linejoin: round;
}

.land-glow {
  fill-opacity: .7;
  filter: url(#blur);
}

.land-fill {
  fill: #fff;
}

.state-boundary {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
}

.land-fill,
.county-boundary {
  stroke: #777;
  stroke-width: .35px;
}

/*
 * pinwheelTooltip styling
 */

div.pinwheelTooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 8px;
  color: #6D6E70;
  background: #fff;
  font-weight: 800;
  border: solid 1px #ccc;
  border-radius: 4px;
  pointer-events: none;
}

.table > thead > tr > td.oned-rect,
.table > tbody > tr > td.oned-rect,
.table > tfoot > tr > td.oned-rect,
.table > thead > tr > th.oned-rect,
.table > tbody > tr > th.oned-rect,
.table > tfoot > tr > th.oned-rect,
.table > thead > tr.oned-rect > td,
.table > tbody > tr.oned-rect > td,
.table > tfoot > tr.oned-rect > td,
.table > thead > tr.oned-rect > th,
.table > tbody > tr.oned-rect > th,
.table > tfoot > tr.oned-rect > th {
  width: 30px;
  background-color: #BBBDBF;
}

.table > thead > tr > td.oned,
.table > tbody > tr > td.oned,
.table > tfoot > tr > td.oned,
.table > thead > tr > th.oned,
.table > tbody > tr > th.oned,
.table > tfoot > tr > th.oned,
.table > thead > tr.oned > td,
.table > tbody > tr.oned > td,
.table > tfoot > tr.oned > td,
.table > thead > tr.oned > th,
.table > tbody > tr.oned > th,
.table > tfoot > tr.oned > th {
  background-color: #D0D2D3;
}

.table > thead > tr > td.economy-rect,
.table > tbody > tr > td.economy-rect,
.table > tfoot > tr > td.economy-rect,
.table > thead > tr > th.economy-rect,
.table > tbody > tr > th.economy-rect,
.table > tfoot > tr > th.economy-rect,
.table > thead > tr.economy-rect > td,
.table > tbody > tr.economy-rect > td,
.table > tfoot > tr.economy-rect > td,
.table > thead > tr.economy-rect > th,
.table > tbody > tr.economy-rect > th,
.table > tfoot > tr.economy-rect > th {
  width: 30px;
  background-color: #a6c0d0;
}

.table > thead > tr > td.economy,
.table > tbody > tr > td.economy,
.table > tfoot > tr > td.economy,
.table > thead > tr > th.economy,
.table > tbody > tr > th.economy,
.table > tfoot > tr > th.economy,
.table > thead > tr.economy > td,
.table > tbody > tr.economy > td,
.table > tfoot > tr.economy > td,
.table > thead > tr.economy > th,
.table > tbody > tr.economy > th,
.table > tfoot > tr.economy > th {
  background-color: #BCD3DD;
}

.table > thead > tr > td.education-rect,
.table > tbody > tr > td.education-rect,
.table > tfoot > tr > td.education-rect,
.table > thead > tr > th.education-rect,
.table > tbody > tr > th.education-rect,
.table > tfoot > tr > th.education-rect,
.table > thead > tr.education-rect > td,
.table > tbody > tr.education-rect > td,
.table > tfoot > tr.education-rect > td,
.table > thead > tr.education-rect > th,
.table > tbody > tr.education-rect > th,
.table > tfoot > tr.education-rect > th {
  width: 30px;
  background-color: #d94f26;
}

.table > thead > tr > td.education,
.table > tbody > tr > td.education,
.table > tfoot > tr > td.education,
.table > thead > tr > th.education,
.table > tbody > tr > th.education,
.table > tfoot > tr > th.education,
.table > thead > tr.education > td,
.table > tbody > tr.education > td,
.table > tfoot > tr.education > td,
.table > thead > tr.education > th,
.table > tbody > tr.education > th,
.table > tfoot > tr.education > th {
  background-color: #ED8E7C;
}

.table > thead > tr > td.equity-rect,
.table > tbody > tr > td.equity-rect,
.table > tfoot > tr > td.equity-rect,
.table > thead > tr > th.equity-rect,
.table > tbody > tr > th.equity-rect,
.table > tfoot > tr > th.equity-rect,
.table > thead > tr.equity-rect > td,
.table > tbody > tr.equity-rect > td,
.table > tfoot > tr.equity-rect > td,
.table > thead > tr.equity-rect > th,
.table > tbody > tr.equity-rect > th,
.table > tfoot > tr.equity-rect > th {
  width: 30px;
  background-color: #20698a;
}

.table > thead > tr > td.equity,
.table > tbody > tr > td.equity,
.table > tfoot > tr > td.equity,
.table > thead > tr > th.equity,
.table > tbody > tr > th.equity,
.table > tfoot > tr > th.equity,
.table > thead > tr.equity > td,
.table > tbody > tr.equity > td,
.table > tfoot > tr.equity > td,
.table > thead > tr.equity > th,
.table > tbody > tr.equity > th,
.table > tfoot > tr.equity > th {
  background-color: #88A8B5;
}

.table > thead > tr > td.quality_of_life-rect,
.table > tbody > tr > td.quality_of_life-rect,
.table > tfoot > tr > td.quality_of_life-rect,
.table > thead > tr > th.quality_of_life-rect,
.table > tbody > tr > th.quality_of_life-rect,
.table > tfoot > tr > th.quality_of_life-rect,
.table > thead > tr.quality_of_life-rect > td,
.table > tbody > tr.quality_of_life-rect > td,
.table > tfoot > tr.quality_of_life-rect > td,
.table > thead > tr.quality_of_life-rect > th,
.table > tbody > tr.quality_of_life-rect > th,
.table > tfoot > tr.quality_of_life-rect > th {
  width: 30px;
  background-color: #f5a91d;
}

.table > thead > tr > td.quality_of_life,
.table > tbody > tr > td.quality_of_life,
.table > tfoot > tr > td.quality_of_life,
.table > thead > tr > th.quality_of_life,
.table > tbody > tr > th.quality_of_life,
.table > tfoot > tr > th.quality_of_life,
.table > thead > tr.quality_of_life > td,
.table > tbody > tr.quality_of_life > td,
.table > tfoot > tr.quality_of_life > td,
.table > thead > tr.quality_of_life > th,
.table > tbody > tr.quality_of_life > th,
.table > tfoot > tr.quality_of_life > th {
  background-color: #F7C98D;
}

.table > thead > tr > td.transit-rect,
.table > tbody > tr > td.transit-rect,
.table > tfoot > tr > td.transit-rect,
.table > thead > tr > th.transit-rect,
.table > tbody > tr > th.transit-rect,
.table > tfoot > tr > th.transit-rect,
.table > thead > tr.transit-rect > td,
.table > tbody > tr.transit-rect > td,
.table > tfoot > tr.transit-rect > td,
.table > thead > tr.transit-rect > th,
.table > tbody > tr.transit-rect > th,
.table > tfoot > tr.transit-rect > th {
  width: 30px;
  background-color: #87af3f;
}

.table > thead > tr > td.transit,
.table > tbody > tr > td.transit,
.table > tfoot > tr > td.transit,
.table > thead > tr > th.transit,
.table > tbody > tr > th.transit,
.table > tfoot > tr > th.transit,
.table > thead > tr.transit > td,
.table > tbody > tr.transit > td,
.table > tfoot > tr.transit > td,
.table > thead > tr.transit > th,
.table > tbody > tr.transit > th,
.table > tfoot > tr.transit > th {
  background-color: #B3CE7A;
}

    
/*
 * sliders
 */

#mapSlider {
	width: 150px;
}

#pinwheelSlider {
	width: 150px;
}



/*
 * End vis and svg styling 
 */


